APP_ENV=development
DB_URL=postgresql://postgres:secret@postgres:5432/auth
PORT=3000
ACCESS_JWT_SECRET=supersecretaccesskey
REFRESH_JWT_SECRET=supersecretrefreshkey
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=4w
REDIS_URL=redis://redis:6379

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=
DEFAULT_TO_TEST_SMS=
# Either "Twilio" or "Console" can be used as the SMS provider.
DEFAULT_SMS_PROVIDER=Console