APP_ENV=development
DB_URL=
ACCESS_JWT_SECRET=
REFRESH_JWT_SECRET=
ACCESS_TOKEN_EXPIRY=
REFRESH_TOKEN_EXPIRY=
REDIS_URL=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=
DEFAULT_TO_TEST_SMS=

# Either "Twilio" or "Console" can be used as the SMS provider.
DEFAULT_SMS_PROVIDER=Console